.box{
    display: flex;
    width: 500px;
    border: 1px solid white;
}

.grid1{
    background-color: pink;
    width: 100px;
    height: 50px;
}

.grid2{
    background-color: skyblue;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.teks{
    color: black;
}

.teks2{
    color: white;
    display: flex;
    justify-content: space-between;
}
.row2{
    background-color: black
}