.search {
            background: white;
            color: gray;
            font-family: 'Arial';
            padding: 10px 30px;
            border: 1px solid gray;
            border-radius: 5px;
        }