body{
    height: 3000px;
    font-family: Arial;
    margin: 0;
}

.bar1{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 70px;
    background-color: #202225;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    padding-top: 10px;
    gap: 10px;
}

.icon{
    border-radius: 50px;
    height: 50px;
    width: 50px;
}

.bar2{
    position: fixed;
    top: 0;
    left: 70px;
    bottom: 0;
    width: 200px;
    background-color: #2f3136;
    color: white;
    padding: 10px;
}

.header{
    justify-content: space-between;
    display: flex;
    margin-bottom: 10px;
}

.menu{
    margin-bottom: 8px;
    color: rgb(87, 85, 85);
}